<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/harsh_thakkar_4?igsh=MWJtamg1cHlwMXdlcA==" target="_blank">
                <i class="fa-brands fa-instagram" style="color: #000;" ></i>
            </a>
            <a href="https://www.linkedin.com/in/harsh-thakkar-4ab18224a/" target="_blank">
                <i class="fa-brands fa-linkedin" style="color: #000;"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>